<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface Selection</title>
</head>
<body>
    <form class="form-inline" method="post">
      <div class="form-group">
        <div class="input-group">
            <select name="interfaces" method="POST" action="/selection">
                {% for interface in interface_list %}
                <option value= "{{interface}}" SELECTED>{{interface}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit"  >SUBMIT</button>
      </div>
    </form>
</body>
</html>